# This is an example rsrv configuration file.

# Each heading is loaded into a map of type map[string]string.
# The resulting map for the following heading would be:
#	map["mount"] = "/"
#	map["type"] = "dir"
#	map["path"] = "/var/www/public_html"
[/]
type=dir
path=/var/www/public_html

[/help]
type=file
path=help.txt

[/img/]
type=dir
path=$HOME/images

[/debug/]
type=debug
